html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F8F2F0;
}

input::placeholder {
  color: #507060;
  opacity: 1; /* 진한 정도 */
}

.category-input::placeholder {
  color: #85A394;
  opacity: 1;
}

.name-input::placeholder {
  color: #85A394;
  opacity: 1;
}

.intro2-input::placeholder {
  color: #85A394;
  opacity: 1;
}

.intro-input::placeholder {
  color: white;
  opacity: 1;
}