.list_text{
    color: #5F4B4B;
    text-shadow: 0px 7.139px 7.139px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1.35px;
    -webkit-text-stroke-color: #FFF;
    font-family: Inter;
    font-size: 54.231px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.sai_text{
    color: #507060;
    text-shadow: 0px 7.139px 7.139px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 4.35px;
    -webkit-text-stroke-color: #FFF;
    font-family: Inter;
    font-size: 128.462px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.category_text{
    color: #5F4B4B;
    text-shadow: 0px 7.139px 7.139px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #FFFFFF;
    font-family: Inter;
    font-size: 35.673px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.people_text{
    color: #5F4B4B;
    text-shadow: 0px 7.141px 7.141px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #FFFFFF;
    font-family: Inter;
    font-size: 35.688px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}
